/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  display: none;
}

/* Fancy blur effect */
#nprogress .peg {
  display: none;
}

/* Circular spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nprogress .spinner-icon {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border: 3px solid #e5e7eb;
  border-top-color: #374151;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 0.8s linear infinite;
          animation: nprogress-spinner 0.8s linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}